/* windows 98 background pog */
body {
  background-color: teal;
}

/* group windows together and center them */
div.window-container {
  position: absolute;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* separate all windows by 10px */
div.window-container > div.window:not(:last-child) {
  margin-bottom: 10px;
}
